<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,height=device-height">
    <title>用户登录</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>


<body>
<div class="container">
    <div class="jumbotron">
    <form action="" method="post">
        <label for="username">用户名：</label>
        <input type="text" name="username" placeholder="用户名">
        <label for="password">密码：</label>
        <input type="password" name="password" placeholder="密码">
        <button type="submit">登陆</button>
    </form>
    </div>
</div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>


</html>